# Install all the library from group
registry=http://nexus.app.tellius.com/repository/npm-tellius-group/
always-auth=true
//nexus.app.tellius.com/repository/npm-tellius-private/:_authToken=NpmToken.42a3e11a-6faa-32bc-9e68-7ce9bdbc4e3a
//nexus.app.tellius.com/repository/npm-tellius-group/:_authToken=NpmToken.42a3e11a-6faa-32bc-9e68-7ce9bdbc4e3a
# Upload to the private, because uploading to group is not allowed
@picasso:registry=http://nexus.app.tellius.com/repository/npm-tellius-private/
